In [1]:
print("Hello world")

Hello world

In [2]:
a = 2 + 3  # Soma
b = 2 - 3  # Subtração
c = 2 * 3  # Multiplicação
d = 2 / 3  # Divisão
e = 2 // 3 # Divisão inteira
f = 2 ** 3 # Potência
g = 2 % 3  # Resto de divisão

print (a, b, c, d, e, f, g)

5 -1 6 0.6666666666666666 0 8 2

In [1]:
salario_mensal = input('Digite o valor do seu salário')
salario_mensal = float(salario_mensal)

gasto_mensal = input('Digite o valor do seu gasto mensal')
gasto_mensal = float(gasto_mensal)

salario_total = salario_mensal * 12
gasto_total = gasto_mensal * 12

economia = salario_total - gasto_total
print('Posso economizar')

Posso economizar

In [2]:
numeros = [1, 3, 7, 8, 9]
indice = 0
while indice < 5:
    print(numeros[indice])
    indice = indice + 1

1
3
7
8
9

In [5]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

In [6]:
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]
maior = max(digitos)
menor = min(digitos)
print(digitos)
print("Maior = ", maior, "e menor = ", menor)

[3, 1, 4, 1, 5, 9, 2, 6, 5]
Maior =  9 e menor =  1

In [1]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

first_4_fb = row_1[:4]
last_3_fb = row_1[-3:]
pandora_3_4 = row_5[2:4]

print(first_4_fb, last_3_fb, pandora_3_4)

['Facebook', 0.0, 'USD', 2974676] ['USD', 2974676, 3.5] ['USD', 1126879]